body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  overflow: hidden;
}

.card {
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 20px;
  position: relative;
}

button {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#yesBtn:hover {
  transform: scale(1.1);
}

#noBtn {
  background: #ddd;
  position: relative;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: #ff4d6d;
  display: none;
}
/* FLOATING HEARTS */
.heart {
  position: fixed;
  font-size: 24px;
  animation: floatUp 4s linear forwards;
  pointer-events: none;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-600px);
    opacity: 0;
  }
}

/* DISCO BACKGROUND */
.party {
  animation: disco 0.5s infinite;
}

@keyframes disco {
  0% {
    background: #ff9a9e;
  }
  25% {
    background: #ffd6ff;
  }
  50% {
    background: #caffbf;
  }
  75% {
    background: #9bf6ff;
  }
  100% {
    background: #ffc6ff;
  }
}
